*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style:none;
  font-family: sans-serif;
}
:root{
  --color-bg:rgb(67,25,138);
  --color-primary: blueviolet;
  --color-white:white;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--color-bg);
}

.navigation{
  position: relative;
  width: 400px;
  height: 70px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
}

.navigation ul{
  display: flex;
  width: 350px;
}

.navigation ul li{
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
  cursor: pointer;
}

.navigation ul li a{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}



.navigation ul li .icon{
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: var(--color-bg);
}
.navigation ul li.active a .icon{
  transform: translateY(-32px);
  color: var(--color-white);
}

.navigation ul li .text{
   position: absolute;
   color: var(--color-bg);
   font-weight: 400;
   font-size: 0.75em;
   letter-spacing: 0.05em;
   transition: 0.5s;
   opacity: 0;
   transform: translateY(20px)
}

.navigation ul li.active .text{
  opacity: 1;
  transform: translateY(10px);
  color: var(--color-primary);
}


.indicator{
  background: var(--color-primary);
  position: absolute;
  top: -50%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: solid 6px var(--color-bg);
  transition: 0.5s;
}

.indicator::before{
  content: '';
  position: absolute;
  top: 50%;
  left: -22px;
  width: 20px;
  height: 20px;
  background:transparent;
  border-top-right-radius: 20px;
  box-shadow: 0px -10px 0 0 var(--color-bg);
}

.indicator::after{
  content: '';
  position: absolute;
  top: 50%;
  right: -22px;
  width: 20px;
  height: 20px;
  background:transparent;
  border-top-left-radius: 20px;
  box-shadow: 0px -10px 0 0 var(--color-bg);
}



.navigation ul li:nth-child(1).active ~ .indicator{
  transform: translateX(calc(70px * 0));
}


.navigation ul li:nth-child(2).active ~ .indicator{
  transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator{
  transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator{
  transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).active ~ .indicator{
  transform: translateX(calc(70px * 4));
}